LEXIS_SHEETS_TOKEN=
LEXIS_APPS_SCRIPT_URL=
LEXIS_SHEET_URL=https://docs.google.com/spreadsheets/d/1qbuJee6DCv0bh9XGvnBDPltc0Ziphdn2yx11QKOnchc/edit
DJEN_UPSTREAM=https://hcomunicaapi.cnj.jus.br/api/v1/comunicacao
